In [1]:
import pandas as pd 
coffee_data = pd.read_csv('DataSource/modified_coffee.csv')

In [3]:
coffee_data.head()

         Day Coffee Type  Units Sold  Price  Revenue
0     Monday    Espresso          25   5.99   149.75
1     Monday  Cappuccino          15   5.99    89.85
2    Tuesday    Espresso          50   5.99   299.50
3    Tuesday       Latte          50   5.99   299.50
4  Wednesday    Espresso          35   5.99   209.65

In [4]:
coffee_pivot = coffee_data.pivot(columns='Coffee Type', index= 'Day', values='Revenue')

In [5]:
coffee_pivot

Coffee Type  Cappuccino  Espresso   Latte
Day
Friday           269.55       NaN  209.65
Monday            89.85    149.75     NaN
Saturday            NaN    269.55  209.65
Sunday              NaN    269.55  209.65
Thursday         179.70    239.60     NaN
Tuesday             NaN    299.50  299.50
Wednesday           NaN    209.65  149.75

In [8]:
coffee_pivot.sum()

Coffee Type
Cappuccino     539.1
Espresso      1437.6
Latte         1078.2
dtype: float64

In [6]:
coffee_pivot2 = coffee_data.pivot(columns='Day', index= 'Coffee Type', values='Revenue')

In [7]:
coffee_pivot2

Day          Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
Coffee Type
Cappuccino   269.55   89.85       NaN     NaN     179.7      NaN        NaN
Espresso        NaN  149.75    269.55  269.55     239.6    299.5     209.65
Latte        209.65     NaN    209.65  209.65       NaN    299.5     149.75

In [11]:
#based on days find out total sum of revenue 
coffee_pivot2.sum()

Day
Friday       479.2
Monday       239.6
Saturday     479.2
Sunday       479.2
Thursday     419.3
Tuesday      599.0
Wednesday    359.4
dtype: float64